<form #dadosLavouraForm="ngForm" (submit)="avancarEtapa(dadosLavouraForm)" [ngClass]="{submited: formSubmited}">
    <div class="modulo-div text-center">
        <div class="container-fluid text-right py-3">
            <div class="row form-group">
                <label class="col-3" for="dadosLavoura.nomeLavoura">Nome da Lavoura: * </label>
                <input class="form-control col-3" type="text" required name="nomeLavoura"
                    [(ngModel)]="dadosLavoura.nome">
                <label class="col-2" for="dadosLavoura.mesAnoPlantio">Mês/Ano plantio: * </label>
                <input class="form-control col-3" type="text" mask="00/0000" required name="mesAnoPlantio"
                    [(ngModel)]="dadosLavoura.mesAnoPlantio">
            </div>
            <div class="row form-group">
                <label class="col-3" for="dadosLavoura.idMunicipio">Fazenda: * </label>
                <select class="form-control col-3" required name="idMunicipio" [(ngModel)]="dadosLavoura.idFazenda">
                    <option [ngValue]="undefined" disabled selected>Selecione...</option>
                    <option *ngFor="let fazenda of fazendas" value={{fazenda.id}}>{{fazenda.nome}}</option>
                </select>
                <label class="col-2" for="dadosLavoura.cultivar">Cultivar: * </label>
                <input class="form-control col-3" type="text" required name="cultivar"
                    [(ngModel)]="dadosLavoura.cultivar">
            </div>
            <div class="row form-group">
                <label class="col-3" for="dadosLavoura.areaTotal">Área total: * </label>
                <input class="form-control col-3" type="text" required name="areaTotal" mask="separator"
                    thousandSeparator="." decimalSeparator="," [(ngModel)]="dadosLavoura.areaTotal"
                    (ngModelChange)="atualizarValores()">
                <label class="col-2" for="dadosLavoura.espacamentoHorizontal">Espaçamento: * </label>
                <div class="col-3 px-0 d-flex align-items-center justify-content-end">
                    <input class="form-control" type="text" required name="espacamentoHorizontal" mask="separator"
                        thousandSeparator="." decimalSeparator="," [(ngModel)]="dadosLavoura.espacamentoHorizontal"
                        (ngModelChange)="atualizarValores()">
                    <span class="col-1 text-center px-0 mx-0">x</span>
                    <input class="form-control" type="text" required name="espacamentoVertical" mask="separator"
                        thousandSeparator="." decimalSeparator="," [(ngModel)]="dadosLavoura.espacamentoVertical"
                        (ngModelChange)="atualizarValores()">
                </div>
                <span>&nbsp; m</span>
            </div>
            <div class="row form-group">
                <label class="col-3" for="dadosLavoura.nPlantas">
                    <i class="fa fa-question-circle"></i>
                    N° de plantas: * </label>
                <div class="col-3 d-flex align-items-center px-0 mx-0">
                    <input class="form-control col-10" disabled type="text" name="nPlantas"
                        [(ngModel)]="dadosLavoura.nPlantas">
                    <span>&nbsp; ha</span>
                </div>
                <label class="col-2" for="dadosLavoura.stand">
                    <i class="fa fa-question-circle"></i>
                    Stand: * </label>
                <input class="form-control col-3" disabled type="text" name="stand" [(ngModel)]="dadosLavoura.stand">
            </div>
            <div class="row form-group">
                <label class="col-3" for="dadosLavoura.observacoes">Observações: * </label>
                <textarea class="form-control col-8" type="text" required name="observacoes"
                    [(ngModel)]="dadosLavoura.observacoes"></textarea>
            </div>
        </div>
    </div>

    <div class="row justify-content-end mt-5 pr-2">
        <button type="submit" class="btn btn-primary">AVANÇAR <i class="fas fa-arrow-right"></i> </button>
    </div>
</form>