<form #dadosForm="ngForm" (submit)="avancarEtapa(dadosForm)">
    <div class="modulo-div text-center">
        <div class="container-fluid text-right py-5 form-group">
            <div class="row">
                <label class="col-3" for="localizacao.nomeFazenda">Nome da Lavoura: * </label>
                <input class="form-control col-8" type="text" required name="nomeFazenda"
                    [(ngModel)]="dadosLavoura.nome">
            </div>
            <div class="row">
                <label class="col-3" for="localizacao.idEstado">Estado: * </label>
                <select (change)="carregarMunicipios(dadosLavoura.idEstado)" [(ngModel)]="dadosLavoura.idEstado"
                    class="form-control col-3" required name="idEstado">
                    <option *ngFor="let estado of estados" [ngValue]="estado.id">{{estado.nome}}</option>
                </select>
                <label class="col-2" for="localizacao.idMunicipio">Município: * </label>
                <select class="form-control col-3" required name="idMunicipio" [(ngModel)]="dadosLavoura.idMunicipio">
                    <option *ngFor="let municipio of municipios" value={{municipio.id}}>{{municipio.nome}}</option>
                </select>
            </div>
            <div class="row">
                <label class="col-3" for="localizacao.nomeProprietario">Proprietário: * </label>
                <input class="form-control col-8" type="text" required name="nomeProprietario"
                    [(ngModel)]="dadosLavoura.proprietario">
            </div>
            <div class="row">
                <label class="col-3" for="localizacao.nomeGerente">Gerente da Fazenda: * </label>
                <input class="form-control col-8" type="text" required name="nomeGerente"
                    [(ngModel)]="dadosLavoura.gerente">
            </div>
            <div class="row">
                <label class="col-3" for="localizacao.emailFazenda">E-mail da Fazenda: * </label>
                <input class="form-control col-3" type="text" required name="emailFazenda"
                    [(ngModel)]="dadosLavoura.email">
                <label class="col-3" for="localizacao.telefoneFazenda">Telefone da Fazenda: * </label>
                <input class="form-control col-2" type="text" required name="telefoneFazenda"
                    [(ngModel)]="dadosLavoura.telefone">
            </div>
            <div class="row">
                <label class="col-3" for="localizacao.pontoReferencia">Ponto de Referência: * </label>
                <input class="form-control col-8" type="text" required name="pontoReferencia"
                    [(ngModel)]="dadosLavoura.pontoReferencia">
            </div>
        </div>
    </div>

    <div class="row justify-content-end mt-5 pr-2">
        <button type="submit" class="btn btn-primary">AVANÇAR <i class="fas fa-arrow-right"></i> </button>
    </div>
</form>