.modulo-div{
    border: 1px solid #BFBFBF;
    background-color: white;
    border-radius: 14px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.td-icones{
    color: var(--input-color);
}

{
    font-size: 14px;
    color: var(--text-main-color);
}