<div class="modulo-div">
    <div class="container-fluid pt-5 px-5">
        <div class="row justify-content-end px-3">
            <a [routerLink]="['cadastro']"><button type="submit" class="btn btn-primary px-4"><i
                        class="fas fa-plus"></i> CADASTRAR LAVOURA</button></a>
        </div>
        <div class="container-fluid d-flex flex-wrap my-5 px-0" id="div-tabela-lavouras">
            <table class="w-100 text-center table border">
                <thead class="thead-light">
                    <tr class="">
                        <th class="text-left">Lavouras Cadastradas</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="lavouras.length == 0">
                        <td colspan="3" class="text-center">Não existem lavouras para listar.</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>