<div class="modulo-div">
    <div class="container-fluid pt-5 px-5">
        <div class="row justify-content-end px-3">
            <a [routerLink]="['/painel', 'lavouras', 'cadastro']"><button type="submit" class="btn btn-primary"><i
                        class="fas fa-plus"></i>
                    CADASTRAR LAVOURA</button></a>
        </div>
        <div class="container-fluid d-flex flex-wrap my-5 px-0" id="div-tabela-lavouras">
            <table class="w-100 text-center table border">
                <thead class="thead-light">
                    <tr class="">
                        <th class="text-left">Lavouras Cadastradas</th>
                        <th>Fazenda</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let lavoura of lavouras">
                        <td class="text-left">{{lavoura.nome}}</td>
                        <td class="text-center">{{lavoura.nomeFazenda}}</td>
                        <td class="text-center">{{lavoura.concluida ? 'Cadstro concluído' : 'Cadastro em andamento'}}
                        </td>
                        <td class="text-center">
                            <a [routerLink]="['cadastro', lavoura.id]"><i class="fa fa-eye"></i></a>
                            <a [routerLink]="['cadastro', lavoura.id]"><i class="fa fa-edit mx-2"></i></a>
                            <a (click)="excluirLavoura(lavoura.id)"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    <tr *ngIf="lavouras.length == 0">
                        <td colspan="4" class="text-center">Não existem lavouras para listar.</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>