<div class="outer-div">
    <div class="container text-center">
        <img src="../../../assets/images/diagnose-virtual.png" alt="Logo Diagnosys" id="logo-diagnosys">
    </div>
    <div class="container" id="main-container">
        <form class="form" #registerForm="ngForm" (submit)="register(registerForm)" [ngClass]="{submited: formSubmited}">
            <div class="row justify-content-center">
                <div class="col-10">
                    <input class="form-control" type="text" name="nome" placeholder="Nome" required
                        [(ngModel)]="model.nome">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10">
                    <input class="form-control" type="email" email name="email" placeholder="E-mail" required
                        [(ngModel)]="model.email">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10">
                    <input class="form-control" type="text" name="cpf" mask="000.000.000-00||00.000.000/0000-00" placeholder="CPF/CNPJ" required
                        [(ngModel)]="model.cpf">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="input-group">
                        <input class="form-control" type="password" name="senha" placeholder="Senha" required
                            [(ngModel)]="model.password">
                            <div (click)="togglePassword($event)" class="input-group-append">
                                <span
                                    class="input-group-text icone-input-right fa fa-eye"></span>
                            </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="d-flex justify-content-between col-10">
                    <div class="d-flex align-items-center">
                        <a [routerLink]="['']">Já tenho uma conta</a>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">REGISTRAR</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>