.modulo-div{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}


#cabecalho-cadastro{
    font-size: 20px;
}

#steps{
    margin-bottom: 10px;
}

#main-container{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

#icone-cadastro{
    color: var(--primary-color);
    font-size: 25px;
}