<div class="modulo-div">
    <div id="cabecalho-cadastro">
        <span><i id="icone-cadastro" class="fas fa-plus"></i> &nbsp; Fazendas / <strong>Cadastro</strong></span>
    </div>
    <div id="main-container" class="container-fluid col-10">
        <div class="container-fluid">
            <app-etapas *ngIf="etapasCarregadas" [(etapas)]="etapas" [(etapaInicial)]="fazenda.idEtapa"
                [(etapaAtual)]="etapaAtiva" (alterarEtapa)="alterarEtapa($event)">
            </app-etapas>
            <div id="etapa" class="row">
                <div class="container-fluid p-0 m-0" [ngSwitch]="etapaAtiva">
                    <app-localizacao-fazenda [idFazenda]="fazenda.id" (salvar)="avancarEtapa($event)" *ngSwitchCase="1">
                    </app-localizacao-fazenda>
                    <app-dados-fazenda [idFazenda]="fazenda.id" (salvar)="avancarEtapa()" *ngSwitchCase="2">
                    </app-dados-fazenda>
                    <app-demarcacao-fazenda [idFazenda]="fazenda.id" (salvar)="avancarEtapa()" *ngSwitchCase="3">
                    </app-demarcacao-fazenda>
                    <app-confirmacao-fazenda [idFazenda]="fazenda.id" (confirmar)="concluirCadastro()"
                        *ngSwitchCase="4"></app-confirmacao-fazenda>
                </div>
            </div>
        </div>
    </div>
</div>