<div class="modulo-div">
    <div id="cabecalho-cadastro">
        <span><i id="icone-cadastro" class="fas fa-plus"></i> &nbsp; Fazendas / <strong>Cadastro</strong></span>
    </div>
    <div id="main-container" class="container">
        <div class="container-fluid">
            <div class="row justify-content-center" id="steps">
                <span>ETAPAS</span>
            </div>
            <div id="etapa" class="row">
                <div class="container-fluid p-0 m-0">
                    <app-localizacao-fazenda></app-localizacao-fazenda>
                </div>
            </div>
            <div class="row justify-content-end mt-5">
                <button type="submit" class="btn btn-primary px-4">AVANÇAR <i class="fas fa-arrow-right"></i> </button>
            </div>
        </div>
    </div>
</div>

