<div class="modulo-div">
    <div id="cabecalho-cadastro">
        <span><i id="icone-cadastro" class="fas fa-plus"></i> &nbsp; Fazendas / <strong>Cadastro</strong></span>
    </div>
    <div id="main-container" class="container">
        <div class="container-fluid">
            <div class="row justify-content-center" id="steps">
                <span>ETAPAS</span>
            </div>
            <div id="etapa" class="row">
                <div class="container-fluid p-0 m-0" [ngSwitch]="fazenda.idEtapa">
                    <app-localizacao-fazenda [idFazenda]="fazenda.id" *ngSwitchCase="2"></app-localizacao-fazenda>
                    <!-- <app-localizacao-fazenda *ngSwitchCase="1"></app-localizacao-fazenda>
                    <app-dados-fazenda  *ngSwitchCase="2"></app-dados-fazenda>
                    <app-demarcacao-fazenda  *ngSwitchCase="3"></app-demarcacao-fazenda>
                    <app-confirmacao-fazenda  *ngSwitchCase="4"></app-confirmacao-fazenda> -->
                </div>
            </div>
        </div>
    </div>
</div>

