<form #localizacaoForm="ngForm" (submit)="avancarEtapa(localizacaoForm)">
	<div class="modulo-div text-center">
		<div class="container-fluid text-right py-3 form-group">
			<div class="row form-group">
				<label class="col-3" for="localizacao.nomeFazenda">Nome: * </label>
				<input maxlength=50 class="form-control col-8" type="text" required name="nomeFazenda"
					[(ngModel)]="localizacaoFazenda.nome">
			</div>
			<div class="row form-group">
				<label class="col-3" for="localizacao.idEstado">Estado: * </label>
				<select (change)="carregarMunicipios(localizacaoFazenda.idEstado)"
					[(ngModel)]="localizacaoFazenda.idEstado" class="form-control col-3" required name="idEstado">
					<option *ngFor="let estado of estados" [ngValue]="estado.id">{{estado.nome}}</option>
				</select>
				<label class="col-2" for="localizacao.idMunicipio">Município: * </label>
				<select [disabled]="municipios.length == 0" class="form-control col-3" required name="idMunicipio"
					[(ngModel)]="localizacaoFazenda.idMunicipio">
					<option *ngFor="let municipio of municipios" value={{municipio.id}}>{{municipio.nome}}</option>
				</select>
			</div>
			<div class="row form-group">
				<label class="col-3" for="localizacao.nomeProprietario">Proprietário: * </label>
				<input maxlength=50 class="form-control col-8" type="text" required name="nomeProprietario"
					[(ngModel)]="localizacaoFazenda.proprietario">
			</div>
			<div class="row form-group">
				<label class="col-3" for="localizacao.nomeGerente">Gerente da Fazenda: * </label>
				<input maxlength=50 class="form-control col-8" type="text" required name="nomeGerente"
					[(ngModel)]="localizacaoFazenda.gerente">
			</div>
			<div class="row form-group">
				<label class="col-3" for="localizacao.emailFazenda">E-mail da Fazenda: * </label>
				<input maxlength=50 class="form-control col-3" type="text" required name="emailFazenda"
					[(ngModel)]="localizacaoFazenda.email">
				<label class="col-3" for="localizacao.telefoneFazenda">Telefone da Fazenda: * </label>
				<input class="form-control col-2" type="text" required name="telefoneFazenda"
					[(ngModel)]="localizacaoFazenda.telefone" mask="(00) 000000009">
			</div>
			<div class="row form-group">
				<label class="col-3" for="localizacao.pontoReferencia">Ponto de Referência: * </label>
				<textarea maxlength=150 class="form-control col-8" type="text" required name="pontoReferencia"
					[(ngModel)]="localizacaoFazenda.pontoReferencia"></textarea>
			</div>
		</div>
	</div>

	<div class="row justify-content-end mt-5 pr-2">
		<button type="submit" class="btn btn-primary">AVANÇAR <i class="fas fa-arrow-right"></i> </button>
	</div>
</form>