<div class="modulo-div text-center">
    <form>
        <div class="container-fluid text-right">
            <div class="row">
                <div class="col-2">
                    <label for="nomeFazenda">Nome: * </label>
                </div>
                <div class="col-8">
                    <input type="text" name="nomeFazenda">
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <label for="idEstado">Estado: * </label>
                </div>
                <div class="col-2">
                    <select name="idEstado">
                        <option value="">Selecione</option>
                    </select>
                </div>
                <div class="col-2">
                    <label for="idMunicipio">Município: * </label>
                </div>
                <div class="col-4">
                    <select name="idMunicipio">
                        <option value="">Selecione</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <label for="nomeProprietario">Proprietário: * </label>
                </div>
                <div class="col-8">
                    <input type="text" name="nomeProprietario">
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <label for="nomeGerente">Gerente da Fazenda: * </label>
                </div>
                <div class="col-8">
                    <input type="text" name="nomeGerente">
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <label for="emailFazenda">E-mail da Fazenda: * </label>
                </div>
                <div class="col-2">
                    <input type="text" name="emailFazenda">
                </div>
                <div class="col-3">
                    <label for="telefoneFazenda">Telefone da Fazenda: * </label>
                </div>
                <div class="col-3">
                    <input type="text" name="telefoneFazenda">
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <label for="pontoReferencia">Ponto de Referência: * </label>
                </div>
                <div class="col-8">
                    <input type="text" name="pontoReferencia">
                </div>
            </div>
        </div>
    </form>
</div>