.step-circle{
    background-color: var(--primary-color);
    width: 20px;
    height: 20px;
    border-radius: 90px;
}

.step-line{
    position: static;
    background-color: var(--primary-color);
    height: 5px;

    font-size: 15px;
    text-align: center;
    color: var(--primary-color);
}

.step:hover{
    cursor: pointer;
}

span{
    position: relative;
    top: -25px;
}

.disabled > .step-circle, .disabled > .step-line{
    background-color: var(--disabled-step-color);
    color: var(--disabled-step-color);
}

.active > .step-line > span{
    font-weight: bolder;
}