<div id="main-div">
    <div class="container text-center">
        <img src="../../../assets/images/diagnose-virtual.png" alt="Logo Diagnosys" id="logo-diagnosys">
    </div>
    <div class="container" id="main-container">
        <form class="form">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="input-group">
                        <input class="form-control" type="text" name="cpf" placeholder="CPF/CNPJ">
                        <div class="input-group-append">
                            <span class="input-group-text icone-input fa fa-user bg-white d-flex align-items-center"></span>
                          </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="input-group">
                        <input class="form-control" type="password" name="senha" placeholder="Senha">
                        <div class="input-group-append">
                            <span class="input-group-text icone-input fas fa-lock bg-white d-flex align-items-center"></span>
                          </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="d-flex justify-content-between col-10">
                    <span class="d-flex align-items-center">
                        <a>Recuperar senha</a>
                    </span>
                    <div class="d-flex align-items-center">
                        <a>Criar conta</a>
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-primary px-4">ENTRAR</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
