<div class="outer-div">
    <div class="container-fluid d-flex flex-column bg-white" id="main-container">
        <div class="row">
            <div class="col-2 py-2 d-flex align-items-center justify-content-start">
                <a [routerLink]="['/painel']">
                    <img src="../../assets/images/diagnosys-colorido.png" alt="Logo Diagnosys" id="logo-diagnosys">
                </a>
            </div>
            <div id="barra-topo" class="flex-grow-1 px-5 pt-3 d-flex align-items-center">
                <div>
                    <h3><strong>Painel</strong></h3>
                </div>
                <div class="flex-grow-1 text-right">
                    <span>{{user.nome}}</span>
                </div>
                <div class="ml-2 text-right">
                    <a (click)="logout()"><i class="fas fa-sign-out-alt"></i></a>
                </div>
            </div>
        </div>

        <div class="row flex-grow-1 justify-content-start">
            <div id="sidebar" class="container-fluid d-flex flex-column align-items-start justify-content-center col-2 pr-5">
                <a routerLink="/painel" routerLinkActive="modulo-ativo" [routerLinkActiveOptions]="{exact: true}">
                    <div class="row items-painel">
                        <div class="mark"></div>
                        <div><i class="fa fa-th-large mr-3"></i>Home</div>
                    </div>
                </a>
                <a routerLink="/painel/fazendas" routerLinkActive="modulo-ativo">
                    <div class="row items-painel">
                        <div class="mark"></div>
                        <div><i class="fa fa-tractor mr-3"></i>Fazendas</div>
                    </div>
                </a>
                <a routerLink="/painel/lavouras" routerLinkActive="modulo-ativo">
                    <div class="row items-painel">
                        <div class="mark"></div>
                        <div><i class="fa fa-seedling mr-3"></i>Lavouras</div>
                    </div>
                </a>
                <a routerLink="/painel/monitoramento" routerLinkActive="modulo-ativo">
                    <div class="row items-painel">
                        <div class="mark"></div>
                        <div><i class="fa fa-eye mr-3"></i>Monitoramento</div>
                    </div>
                </a>
                <a routerLink="/painel/blog" routerLinkActive="modulo-ativo">
                    <div class="row items-painel">
                        <div class="mark"></div>
                        <div><i class="fa fa-blog mr-3"></i>Blog QIPixel</div>
                    </div>
                </a>
                <a routerLink="/painel/suporte" routerLinkActive="modulo-ativo">
                    <div class="row items-painel">
                        <div class="mark"></div>
                        <div><i class="fa fa-question-circle mr-3"></i>Suporte</div>
                    </div>
                </a>
            </div>
            <div id="modulos" class="flex-grow-1">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>