<div id="outer">
    <div class="container-fluid p-0 d-flex bg-white" id="main-container">
        <div class="container-fluid m-0 col-2 bg-dark">
            <div class="row align-items-center justify-content-center mt-4">
                <img src="../../assets/images/diagnosys-colorido.png" alt="Logo Diagnosys" id="logo-diagnosys">
            </div>
            <div id="sidebar" class="col-2  bd-dark">
            
            </div>
        </div>
        <div id="barra-topo" class="container-fluid d-flex flex-column bg-warning">
            <div class="row">
                <div>
                    <h3>Painel</h3>
                </div>
                <div class="flex-grow-1 text-right">
                    <h3>Painel</h3>
                </div>
            </div>
            <div class="row flex-grow-1">
                <div id="modulos" class="col bg-info">
                    
                </div>
            </div>
        </div>
    </div>
</div>

