<form #dadosForm="ngForm" (submit)="avancarEtapa(dadosForm)" [ngClass]="{submited: formSubmited}">
    <div class="modulo-div text-center">
        <div class="container-fluid text-right py-5">
            <div class="row from-group">
                <label class="col-3" for="area">Area total: * </label>
                <input class="form-control col-5" type="text" name="area" [(ngModel)]="dadosFazenda.areaTotal"
                    required>
                <span class="col text-left">ha</span>
            </div>
            <div class="row from-group">
                <label class="col-3" for="idCultura">Cultura: * </label>
                <select [(ngModel)]="dadosFazenda.idCultura" required class="form-control col-5" name="idCultura">
                    <option [ngValue]="undefined" disabled selected>Selecione...</option>
                    <option *ngFor="let cultura of culturas" [ngValue]="cultura.id">{{cultura.nome}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row justify-content-end mt-5 pr-2">
        <button type="submit" class="btn btn-primary">AVANÇAR <i class="fas fa-arrow-right"></i> </button>
    </div>
</form>