.modulo-div{
    border: 1px solid #BFBFBF;
    background-color: white;
    border-radius: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.row{
    align-items: center;
}

label{
    width: 200px;
}