<div class="modulo-div">
    <div class="container-fluid px-5">
        <div class="row justify-content-around text-center">
            <a [routerLink]="['fazendas']">
                <div>
                    <div class="card-modulo">
                        <i class="fas fa-tractor"></i>
                    </div>
                    <strong>Fazendas</strong>
                </div>
            </a>
            <div>
                <div class="card-modulo">
                    <i class="fas fa-eye"></i>
                </div>
                <strong>Monitoramento</strong>
            </div>
            <div>
                <div class="card-modulo">
                    <i class="fas fa-history"></i>
                </div>
                <strong>Histórico</strong>
            </div>
            <div>
                <div class="card-modulo">
                    <i class="fas fa-tasks"></i>
                </div>
                <strong>Recomendações</strong>
            </div>
        </div>
    </div>
</div>