<div>
    <header>
        <h5>Termo de Uso e Política de Privacidade</h5>
    </header>
    <section>
        <p>A <b>QIPixel</b>  estabelece neste Termo de Uso e Política de Privacidade (“TERMO”) as condições para utilização da plataforma <b>“Diagnosys”</b> de propriedade da <b>QIPixel</b>, de forma a esclarecer as obrigações e responsabilidades de seus usuários. Leia atentamente o seguinte TERMO, pois ele se aplica ao seu acesso e forma de uso das informações, materiais e itens/funções contidas neste Site e em suas páginas.</p>
        <p>
            Ao acessar esta plataforma, você estará concordando e declarando estar ciente com este <b>TERMO</b>.
        </p>
        <p>
            O Site pode possuir tantas áreas de conteúdo aberto como de conteúdo e/ou serviços restritos. Para que o Usuário acesse conteúdo e/ou serviços restritos, pode ser necessário realizar cadastro no Site, mediante a criação de um perfil com login e Senha, e/ou fornecimento de todos ou alguns dados pessoais de cadastro, tais como: nome completo, endereço, e-mail, CPF (“Dados de Cadastro”). Outros Dados de Cadastro para identificação do Usuário e/ou acesso ao Site e/ou Aplicativo poderão ser solicitados, caso sejam necessários para a identificação do Usuário e/ou para acesso do Usuário ao conteúdo e/ou serviços restritos.
        </p>
        <p>
            O Usuário se responsabiliza pela precisão e veracidade dos dados informados e reconhece que a inconsistência destes poderá implicar a impossibilidade de acessar o Site e/ou utilizar o Aplicativo.
        </p>
        <p>
            O Usuário assume inteira responsabilidade pela guarda, sigilo e boa utilização do login e senhas cadastrados, isentando a QiPixel de qualquer responsabilidade. 
        </p>

        <p>
            O login e Senha só poderão ser utilizados pelo Usuário cadastrado, sendo expressamente proibido o compartilhamento de login e/ou Senha com quaisquer terceiros. 
        </p>
        <p>
            Existem formas de coleta de informações dos Usuários (“Informações”): (i) por meio do cadastro realizado pelo próprio Usuário no Site; e (ii) por meio do uso de cookies ou de outra tecnologia que permita armazenar informações a respeito da navegação do Usuário no Site (“Registros de Navegação”).
        </p>
        <p>
            As Informações dos Usuários são coletadas, armazenadas, tratadas, processadas e utilizadas pela QiPixel com as seguintes finalidades:<br>
            (i) desenvolver, manter e aperfeiçoar os recursos e funcionalidades do Site;<br>
            (ii) possibilitar o acesso e o uso dos recursos e funcionalidades do Site  pelos Usuários; <br>
            (iii) analisar o desempenho do Site, medir a audiência do Site, verificar os hábitos de navegação dos Usuários no Site, a forma pela qual chegaram na página do Site e/ou Aplicativo (por exemplo, através de links de outros sites, buscadores ou diretamente pelo endereço), avaliar estatísticas relacionadas ao número de acessos e uso do Site e/ou Aplicativo, seus recursos e funcionalidades;<br>
            (iv) análises relacionadas à segurança do Site e/ou Aplicativo, aperfeiçoamento e desenvolvimento de ferramentas antifraude;<br>
            (v) melhorar as experiências de navegação dos Usuários no Site e/ou Aplicativo; <br>
            (vi) permitir o fornecimento de serviços mais personalizados e adequados às necessidades dos Usuários, tais como páginas de perfil, atualizações, conteúdos e anúncios relevantes; <br>
            (vii) permitir a comunicação entre os Usuários e a QiPixel, inclusive mediante o envio e recebimento de e-mails;<br>
            (viii) identificar os perfis, hábitos e necessidades para eventuais ofertas de serviços e estratégias da QiPixel.<br>
            (ix) Utilizar os dados para aplicação em tecnologias como Big Data, inteligência artificial, Machine Learning, dentre outras, para criar novos produtos e tecnologias.
        </p>
        <p>
            A QiPixel preserva a privacidade dos Usuários e não compartilha seus dados e informações com terceiros, salvo mediante consentimento do próprio Usuário, por força de lei ou ordem judicial.
        </p>
        <p>
            Usuário está ciente e autoriza que os seus Registros de Navegação no Site e/ou Aplicativo sejam fornecidos pela QiPixel a seus respectivos parceiros ou contratados para prestar qualquer serviço relativo ao Site e/ou Aplicativo, sem indicação individualizada do Usuário que permita sua identificação e para as finalidades previstas neste termo.
        </p>
        <p>
            Este TERMO é regido de acordo com a legislação brasileira. Quaisquer disputas ou controvérsias oriundas de quaisquer atos praticados no âmbito do Site e/ou Aplicativos pelos Usuários, inclusive com relação ao descumprimento deste TERMO, e/ou demais políticas 
        </p>
        
    </section>
    <footer class="text-right mt-4">
        <button *ngIf="showButton" class="btn btn-primary" (click)="aceitarTermo()">Aceitar <i class="fas fa-check"></i></button>
    </footer>
</div>